@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.option {
  background-color: grenyellow;
  padding: 20px;
  margin-left: 100px;
}
.product {
  font-size: 30px;
  font-weight: 1000;
}
.buttons {
  margin-top: -78px;
  background-color: ed;
  margin-right: 730px;
  float: right;
}
.nav-buttons {
  font-size: 13px;
  border: none;
  border-width: none;
  color: grey;
  background-color: white;
  margin-right: 20px;
}
.photo {
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-right: -400px;
}
.image-cart {
  margin-right: 00px;
  margin-left: 90px;
  float: inline-end;
}
.image-avator {
  margin-top: -20px;
  float: right;
  margin-right: -250px;
  margin-left: 40px;
}
.avator {
  width: 50px;
  float: right;
}
.cart {
  width: 20px;
}
.shoes {
  object-fit: cover;
  width: 365px;
  margin-top: 30px;
  margin-left: 170px;
  width: 400px;
  border-radius: 15px;
}
.div-1 {
  display: flex;
  flex-direction: column;
}
.shoe-infor {
  margin-left: 170px;
  margin-top: 0px;
}
.image-shoe {
  display: flex;
  flex-direction: column;
}
.header {
  font-size: 12px;
  color: orangered;
  float: right;
  margin-top: -320px;
  margin-right: 600px;
}
.brand {
  font-size: 40px;
  font-weight: bold;
  width: 440px;
  height: 40px;
  float: right;
  margin-top: -280px;
  margin-right: 300px;
}
.infor {
  font-size: 13px;
  margin-top: 20px;
  width: 400px;
  float: right;
  color: grey;
  margin-top: -160px;
  margin-right: 340px;
}
.current-price {
  font-weight: bolder;
  float: right;
  color: grey;
  margin-top: -90px;
  margin-right: 670px;
}
.former-price {
  font-size: 10px;
  float: right;
  color: grey;
  margin-top: -50px;
  margin-right: 700px;
}
.discount {
  font-size: 11px;
  float: right;
  color: orangered;
  margin-top: -85px;
  margin-right: 620px;
}
.minus {
  float: right;
  margin-top: -10px;
  margin-right: 695px;
  width: 35px;
  height: 35px;
}
.zero {
  float: right;
  margin-top: -35px;
  margin-right: 660px;
  width: 35px;
  height: 35px;
}
.plus {
  float: right;
  margin-top: -35px;
  margin-right: 625px;
  width: 35px;
  height: 35px;
}
.cart-button {
  border-radius: 8px;
  color: white;
  background-color: hsl(26, 100%, 55%);
  width: 250px;
  height: 40px;
  font-size: 16px;
  float: right;
  margin-top: -38px;
  margin-right: 340px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.cart-image {
  width: 14px;
  margin-right: 10px;
}
.image-product {
  margin-left: 155px;
}
.thumbnail {
  width: 70px;
  margin-left: 20px;
  border-radius: 7px;
  margin-right: 10px;
}
.thumbnail-1 {
  width: 70px;
  color: hsl(25, 100%, 94%);
  margin-left: 20px;
  border-radius: 7px;
  margin-right: 10px;
  border-color: green;
}
